html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-y: scroll;
}

header {
  font-weight: bold;
  padding: 2em;
}

a {
  color: #00f;
  text-decoration: none;
}

.button {
  background: #00f;
  border: 2px solid;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin-left: 2em;
  padding: 0.5em 0.75em;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.root {
  margin: 0 auto;
  max-width: 920px;
  padding: 2em;
}

.list {
  display: flex;
  flex-direction: column;

  a {
    border-radius: 5px;
    margin-left: -1em;
    padding: 0.5em 1em;
  }

  a:hover {
    background: #f4f5f5;
  }

  .tree {
    font-weight: bold;
  }

  &__branches {
    font-size: 1.3em;
  }

  &__item {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
  }

  .folder {
    font-weight: bold;
  }

  .abbrev {
    font-weight: bold;
    margin-right: 1.5em;
    width: 100px;
  }

  .hash {
    font-weight: bold;
    width: 100px;
  }

  .status {
    font-size: 0.75em;
    margin-left: 1em;
    opacity: 0.5;
  }
}

code {
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  display: block;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: auto;
  padding: 2em;
  white-space: pre;
}

.path {
  font-size: 1.25em;
  font-weight: bold;
  padding: 0.5em 0;

  a:last-of-type {
    color: #000;
    cursor: default;
    pointer-events: none;
  }

  a + a::before {
    color: #000;
    content: '/';
    display: inline-block;
    margin: 0 0.5em;
    opacity: 0.25;
    user-select: none;
  }

}

.current {
  font-weight: bold;
  position: relative;

  &::before {
    content: '*';
    display: block;
    margin-left: -0.75em;
    position: absolute;
    top: 0.73em;
  }
}

.error {
  color: #f00;
  font-size: 24px;
  font-weight: bold;
  margin-top: 1em;

  &::after {
    content: ' :)';
  }
}

.commit-info {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
