html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

header {
  font-weight: bold;
  padding: 2em;
}

a {
  color: #00f;
  text-decoration: none;
}

.button {
  border: 2px solid;
  border-radius: 5px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 0.5em 0.75em;
}

nav a {
  &:not(:last-child) {
    margin-right: 1em;
  }
}

.root {
  padding: 2em;
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  a {
    border-radius: 5px;
    display: inline-block;
    margin-left: -1em;
    padding: 0.5em 1em;
  }

  a:hover {
    background: #f4f5f5;
  }

  a:not(:last-child) {
    margin-bottom: 0.5em;
  }

  .tree {
    font-weight: bold;
  }

  &__branches {
    font-size: 1.3em;
  }

  .abbrev {
    font-weight: bold;
    margin-right: 1.5em;
    width: 100px;
  }
}



code {
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  font-size: 12px;
  line-height: 1.5;
  overflow-x: auto;
  padding: 2em;
  white-space: pre;
}

.path {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0.5em 0;

  a:last-child {
    color: #000;
    cursor: default;
    pointer-events: none;
  }

  a + a::before {
    color: #000;
    content: '/';
    display: inline-block;
    margin: 0 0.5em;
    opacity: 0.25;
    user-select: none;
  }

}

.current {
  font-weight: bold;
  position: relative;

  &::before {
    content: '*';
    display: block;
    margin-left: -0.75em;
    position: absolute;
    top: 0.73em;
  }
}


.error {
  color: #f00;
  font-size: 36px;
  font-weight: bold;
  margin-top: 1em;
}