extends layout

block content
  .path
    - var baseUrl = `/${name}/tree/`
    a(href='/') REPO_NAME
    a(href=baseUrl)= name

  .list
    each commit in data
      .list__item
        a.abbrev(href=`/${commit.hash}/tree/`)= commit.hash
        = commit.name

