extends layout

block content
  .nav
    .path #

  if data
    each branch in data
      .list.list__branches
        .list__item
          a(href=`/branch/${branch.name}/tree/` class=branch.isCurrent ? 'current' : '')
            = branch.name