extends layout

block content
  .path REPO_NAME

  if data
    each branch in data
      .list.list__branches
        a(href=`/${branch.name}/tree/` class=branch.isCurrent ? 'current' : '')
          = branch.name