extends layout

block content
  .nav
    .path= rootName

  if data
    .list.list__branches
      each branch in data
        .list__item(class=branch.isCurrent ? 'current' : '')
          a(href=`/branch/${branch.name}/tree/`)
            = branch.name